@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.App{
    max-width: 1700px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 20px ;
    box-shadow: 0 0 35px #eee;
    position: relative;
}

a{
    text-decoration: none;
}

ul li {
    list-style: none;
}

button{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

@import url("./components//headers/header.css");

@import url("./components/mainpages/products/product.css");

@import url("./components/mainpages/utils/DetailProduct/detailProduct.css");

@import url('./components/mainpages/login/login.css');
@import url('./components/mainpages/login/register.css');

@import url("./components/mainpages/utils/productList/editProduct.css");

@import url("./components/mainpages/cart/cart.css");

@import url("./components/mainpages/products/createProduct.css");